*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url("./images/hero\ image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
#globe{
    background: linear-gradient(90deg,rgb(198, 105, 13),rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#mainhead{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#mainhead pre{
    color: white;
    font-weight: bolder;
}

#everything{
    background: linear-gradient(
    90deg,
    #a855f7 0%,
    #c026d3 30%,
    #ec4899 60%,
    #ff7043 100%
  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 3px #000) drop-shadow(0 0 10px rgba(0,0,0,.9)) drop-shadow(0 0 20px rgba(0,0,0,.6));
}
#description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(213, 212, 212);
}
#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#logo{
    background-color: #000;
    color: rgb(169, 168, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #000;
}

#search input{
    width: 100%;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    text-align: left;
}

#buttonbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#button{
    border-radius: 50px;
    background: linear-gradient(
    90deg,
    #a855f7 0%,
    #c026d3 30%,
    #ec4899 60%,
    #ff7043 100%
  );
    color: white;
    border: none;
}
#popular{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(213, 212, 212);
    margin-top: 14px;
}
#popular span{
    display: inline-flex;
    border: rgb(84, 83, 83) 1px solid;
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}


/* 📱 Android / iPhone */
@media (max-width: 600px){
    h1{
        font-size: 15px;
    }
    #mainhead{
        width: 100%;
        height: 80px;
        font-size: 34px;
        margin-top: 220px;
        margin-bottom: 20px;
    }
    #description{
        width: 100%;
        font-size: 13px;
    }
    #searchbar{
        margin-top: 50px;
    }
    #logo{
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
    #search{
        height: 30px;
        width: 200px;
    }
    #search input{
        font-size: 12px;
    }
    #buttonbox{
        height: 30px;
        width: 100px;
    }
    #button{
        font-size: 12px;
        height: 20px;
        width: 90px;
    }
    #popular{
        font-size: 9px;
    }
    #popular span{
        height: 20px;
        width: 35px;
        margin-left: 2px;
    }

}

/* 📱 iPad / Tablet */
@media (min-width: 601px) and (max-width: 1030px){
    h1{
        font-size: 35px;
    }
    #mainhead{
        width: 100%;
        height: 160px;
        font-size: 65px;
        margin-top: 280px;
    }
    #description{
        width: 100%;
        font-size: 19px;
    }
    #searchbar{
        margin-top: 50px;
    }
    #logo{
        height: 45px;
        width: 40px;
        font-size: 20px;
    }
    #search{
        height: 45px;
        width: 400px;
    }
    #search input{
        font-size: 15px;
    }
    #buttonbox{
        height: 45px;
        width: 135px;
    }
    #button{
        font-size: 14px;
        height: 30px;
        width: 120px;
    }
    #popular{
        font-size: 16px;
    }
    #popular span{
        height: 35px;
        width: 75px;
        margin-left: 6px;
    }
}

/* 💻 Laptop / MacBook */
@media (min-width: 1031px){
    h1{
        font-size: 40px;
    }
    #mainhead{
        width: 100%;
        height: 180px;
        font-size: 65px;
        margin-top: 30px;
    }
    #description{
        width: 100%;
        font-size: 19px;
    }
    #searchbar{
        margin-top: 50px;
    }
    #logo{
        height: 45px;
        width: 40px;
        font-size: 20px;
    }
    #search{
        height: 45px;
        width: 500px;
    }
    #search input{
        font-size: 16px;
    }
    #buttonbox{
        height: 45px;
        width: 162px;
    }
    #button{
        font-size: 16px;
        height: 35px;
        width: 150px;
    }
    #popular{
        font-size: 16px;
    }
    #popular span{
        height: 35px;
        width: 75px;
        margin-left: 8px;
    }
}